!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title REPORTR #{title}
    meta(name="viewport", content="width=device-width")

    block header

    block css
      link(rel="stylesheet", type="text/css", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css")
  body
    include includes/menu
    .container
      block content

      //- start layout footer
      footer
        block footer

    block js
      script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js")
      script(type="text/javascript", src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
