extends ../layout

block content
  
  div(style="margin: 50px inherit")
  if (reportr)
    - var count = reportr.length
    - var docs = JSON.stringify(reportr, undefined, 2)

    h1 Displaying #{count} #{type}

    hr
    pre.prettyprint.lang-js
      | #{docs}
